- var sectionTitle = 'newsletter terms';

block config
	include config

	include head
		title Newsletter Terms and Conditions - #{siteTitle}

	body

		include sticky-left

		main(class='case case-main')

			h1(class='blind') MINT Digital Production General Terms and Conditions of Newsletter Services

			.case-inner
				.case-subscribe.terms
					.case-subscribe-header.terms
						h2 Terms &amp; Conditions of Newsletter Services
						span for website #[a(href='//mintbycheil.com') https://www.mintbycheil.com]
					.case-subscribe-content-terms
						h3(class='section-title-terms') 1. General Provisions
						ol(class='terms')
							li The following Terms and conditions for provision of services via #[a(href='https://mintbycheil.com/') https://mintbycheil.com] (hereinafter referred to as: Terms and conditions) determines:
								span(class='term-item') 1.1. conditions for providing newsletter services by electronic means by Cheil Germany GMBH spółka z ograniczoną odpowiedzialnością, Oddział w Polsce (eng. Limited Liability Company) with its registered seat in Warsaw (02-674) at 15 Marynarska Street, entered into the register of entrepreneurs of National Court Register conducted by District Court for Capital City of Warsaw, XIII Division of the National Court Register, KRS number 0000313123 (hereinafter referred to as: Cheil), via #[a(href='https://mintbycheil.com/') https://mintbycheil.com],
								span(class='term-item') 1.2. rules for use of the services provided via #[a(href='https://mintbycheil.com/') https://mintbycheil.com],
								span(class='term-item') 1.3. technological requirements and conditions necessary for proper use of services,
								span(class='term-item') 1.4. conditions of processing personal data.
							li The following Terms and conditions are a regulation referred to in art. 8 of the Act of 18 July, 2002 on Providing Services by Electronic Means (JL of 2020, item 344 as amended) and is applicable to newsletter services provided by electronic means by Cheil via #[a(href='https://mintbycheil.com/') https://mintbycheil.com], as referred to in art. 2 point 4 of this Act.
							li The following Terms and conditions are made available to the Subscriber in form that enables the Subscriber its downloading, retrieval and saving, in preferred place and time. Subscriber shall familiarise with the content of the following Terms and conditions prior to initiating use of the services referred to in the following Terms and conditions. 
							li In all matters not regulated, provisions of Terms and conditions for Provision of Services for website #[a(href='https://mintbycheil.com/') https://mintbycheil.com] apply accordingly.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 2. Definitions
						ol(class='terms')
							span Without prejudice to definitions stated in Terms and conditions for Provision of Services for website #[a(href='https://mintbycheil.com/') https://mintbycheil.com], terms used in the following Terms and conditions shall be understood as followed:
							li <strong>Subscriber</strong> – recipient of services, a User who subscribes for newsletter services; a natural person, who is a party of the agreement for the provision of services, to whom Cheil is providing services in form of newsletter, in execution of the agreement concluded on the basis of acceptance of the following Terms and conditions;
							li <strong>Terms and conditions</strong> – the following Terms and conditions for provision of services via #[a(href='https://mintbycheil.com/') https://mintbycheil.com], which are indeed an agreement concluded between the Subscriber and Cheil; special set of rules, which regulate provision of newsletter services in addition to and Terms and conditions for Provision of Services for website #[a(href='https://mintbycheil.com/') https://mintbycheil.com];
							li <strong>Newsletter</strong> – described in § 3 point 1 of the following Terms and conditions service provided by Cheil to the Subscriber in execution of the agreement.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 3. Provision of Services
						ol(class='terms')
							li On the basics of the following Terms and conditions, Cheil undertakes the obligation to provide the Subscriber with the Newsletter, understood as described in point 2 below. 
							li Newsletter service means regular distribution and provision of set of materials with information enclosed into it, concerning the possibilities of introducing new marketing solutions in business activities, which is send to the Subscriber via electronic mail account. Newsletter messages are personalised, which means it shall be addressing the Subscriber personally, using the name and surname the Subscriber provides Cheil during subscription.
							li Subscription of Newsletter service, therefore conclusion of the agreement between Cheil and the Subscriber is possible solely by providing Cheil with e-mail address via appropriate form on the website #[a(href='https://mintbycheil.com/') https://mintbycheil.com].
							li The agreement with Cheil for provision of Newsletter is concluded with the moment the Subscriber subscribes for the Newsletter using specific form from the website #[a(href='https://mintbycheil.com/') https://mintbycheil.com]. 
							li Cheil proclaims to send (distribute) Newsletter messages in regular intervals, no less than once a month and no frequent than 3 (three) times per week.
							li The agreement with Cheil for provision of Newsletter is terminated with the moment the Subscriber requests termination of the agreement by informing Cheil of resignation. Resignation can be submitted via electronic mail account: #[a(href='mailto:unsubscribe@mintbycheil.com') unsubscribe@mintbycheil.com]
							li Cheil ensures to erase the Subscriber from list of Subscribers no later than within 14 days from receiving information about resignation in the way described above. During that period, Subscriber may still receive Newsletter messages. If such message shall be received, the provisions of the following Terms and conditions shall still be applicable to the Newsletter message received by the Subscriber.
							li Concluding the agreement, the Subscriber proclaims that it is accepting the provisions of the following Terms and conditions and ensures to comply with them. Lack of acceptance of the following Terms and conditions prevents providing Newsletter by Cheil.
							li Concluding the agreement, the Subscriber proclaims that it has accepted the provisions of the Terms and conditions for Provision of Services for website #[a(href='https://mintbycheil.com/') https://mintbycheil.com] and ensures to comply with them. Lack of acceptance of those prevents providing Newsletter by Cheil. 
							li The Subscriber shall use Newsletter services provided by Cheil in execution of the agreement, in a scope compliant with its provisions (in compliance with the following Terms and conditions). Provisions of § 3 point 6-10 of Terms and conditions for Provision of Services for website #[a(href='https://mintbycheil.com/') https://mintbycheil.com] apply accordingly.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 4. Technical Requirements
						ol(class='terms')
							li Without prejudice to § 4 of Terms and conditions for Provision of Services for website #[a(href='https://mintbycheil.com/') https://mintbycheil.com], proper usage of the Newsletter provided by electronic means by Cheil is possible if the Subscriber has access to electronic mail account. 
							li Provisions of § 4 point 3-12 of Terms and conditions for Provision of Services for website #[a(href='https://mintbycheil.com/') https://mintbycheil.com] apply accordingly.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 5. Personal Data Protection
						ol(class='terms')
							li Cheil is committed to ensure the safety and respect for privacy of natural persons. Cheil respects the right of a natural person to privacy and respects generally applicable law on data protection, especially GDPR.
							li Without prejudice to the abovementioned, Cheil hereby proclaims that it is the data controller of Subscriber’s personal data.
							li Cheil may collect personal data of the Subscriber by appropriate Newsletter subscription form.
							li Cheil may process personal data of the Subscriber for the purposes of:
								span(class='term-item') 4.1. conclusion and execution of the agreement for provision of personalised Newsletter services by Cheil, on the basis of provisions of the following Terms and conditions (Article 6(1)(b) of the GDPR), for the time necessary to execute the agreement, until it is terminated or otherwise become invalid;
								span(class='term-item') 4.2. establishment, exercise or defence of legal claims (Article 6(1)(f) of the GDPR), until the limitation of claims resulting from generally applicable law.
								span(class='term-item') 4.3. statistical purposes (Article 6(1)(f) of the GDPR), until your data are no longer of use for our statistical purposes or until you object processing your data.
							li The Subscriber is entitled to request access to your personal data, their rectification, erasure, restriction of their processing, data portability as well as to object to their processing. 
							li The Subscriber is entitled to lodge a complaint with an appropriate supervisory authority, which in Poland is the President of the Personal Data Protection Office.
							li Further notice on how Cheil processes personal data of the Subscriber shall be found in Privacy policy of website http://mintbycheil.com/. The Subscriber may also contact Cheil in all matters concerning processing personal data via e-mail: #[a(href='mailto:dataprivacy@mintbycheil.com') dataprivacy@mintbycheil.com] or by telephone: #[a(href='tel:+48223603020') +48 22 360 30 20].
					.case-subscribe-content-terms
						h3(class='section-title-terms') 6. Final Provisions
						ol(class='terms')
							li In all matters not regulated in the following Terms and conditions, the provisions of Terms and conditions for Provision of Services for website #[a(href='https://mintbycheil.com/') https://mintbycheil.com] and generally applicable laws shall apply accordingly. 
							li Cheil has the right to alter the provisions of the following Terms and conditions at any time. Information concerning the modification of Terms and conditions shall be given to the Subscriber no less than 7 days days prior to entering into force of the new version of Terms and conditions. 
							li Following Terms and conditions shall be effective since 1st May 2020. 