- var sectionTitle = 'privacy policy';

block config
	include config

	include head
		title Privacy Policy - #{siteTitle}

	body

		include sticky-left

		main(class='case case-main')

			h1(class='blind') MINT Digital Production Privacy Policy

			.case-inner
				.case-subscribe.terms
					.case-subscribe-header.terms
						h2 Privacy Policy
						span of website #[a(href='//mintbycheil.com') https://www.mintbycheil.com]
					.case-subscribe-content-terms
						p During using the website #[a(href='https://mintbycheil.com/') https://mintbycheil.com] some of your personal data may be obtained by the website’s operator, Cheil Germany GMBH spółka z ograniczoną odpowiedzialnością, Oddział w Polsce with its registered seat in Warsaw.
						p We are committed to ensure the safety and respect for privacy of natural persons. We respect the right of a natural person to privacy and respects generally applicable law on data protection, especially Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 (General Data Protection Regulation) (hereinafter referred to as: GDPR). If you want to know, how we processes your personal data, please familiarize with the following Privacy policy.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 1. Who is your Personal Data Controller?
						p The data controller of your personal data, as understood under Article 4 point 7 of GDPR, is Cheil Germany GMBH spółka z ograniczoną odpowiedzialnością, Oddział w Polsce (eng. Limited Liability Company) with its registered seat in Warsaw (02-674) at 15 Marynarska Street, entered into the register of entrepreneurs of National Court Register conducted by District Court for Capital City of Warsaw, XIII Division of the National Court Register, KRS number 0000313123, with tax identification number NIP 1080005884, REGON 14155797000000, acting as a branch office in Poland (hereinafter referred to as: Cheil).
						span You may also contact Cheil in all matters concerning processing personal data via e-mail: #[a(href='mailto:dataprivacy@mintbycheil.com') dataprivacy@mintbycheil.com] or by telephone: #[a(href='tel:+48223603020') +48 22 360 30 20].
					.case-subscribe-content-terms
						h3(class='section-title-terms') 2. What kind of data do we process and why?
						p Cheil may collect your personal data by ‘contact us’ and newsletter form. We may process your personal data for the purposes of:
						ol(class='terms')
							li(class='dash-type') establishing and maintaining contact with you via ‘contact us’ form, including providing answers to questions and requests send to Cheil via this form (Article 6(1)(f) of the GDPR), for the time necessary to execute the contact and provide you with all information you required;
							li(class='dash-type') providing you newsletter services (Article 6(1)(b) of the GDPR), until you resign from our newsletter services therefore terminating the agreement between you and Cheil for provision of newsletter services;
							li(class='dash-type') establishment, exercise or defence of legal claims (Article 6(1)(f) of the GDPR), until the limitation of claims resulting from generally applicable law.
						p Providing us with your personal data is voluntary, yet necessary to enable proper communication between Cheil and you and achievement of the abovementioned goals. In case personal data would not be provided, direct communication may not be possible and we may not answer your request. 
						p In case of newsletter services, providing us with your personal data is a contractual obligation – otherwise provision of services would be impossible.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 3. To whom may we disclose your Personal Data?
						p The data concerning you may be disclosed to entities entitled to access them by generally applicable law (such as: police). We may also disclose your personal data to entities cooperating with us, including those providing goods or services for us, such as postal and hosting services.
						p We would not disclose your personal data to any entity having their seats or business office outside EEA or European Union.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 4. We process your Personal Data - You have Rights
						p As the data subject whose personal data are being processed, you are entitled to:
						ol(class='terms')
							li(class='dash-type') <strong>request access to your personal data</strong> that concerns you;
							li(class='dash-type') <strong>request that the data are corrected</strong>;
							li(class='dash-type') <strong>request removal of your personal data</strong>, if the data concerning you:
								span(class='term-item') 1. are no longer necessary in relation to the purposes for which they were collected or otherwise processed,
								span(class='term-item') 2. you withdraw your consent for processing your data and there is no other legal ground for processing them,
								span(class='term-item') 3. you object processing your personal data,
								span(class='term-item') 4. your data has been unlawfully processed or
								span(class='term-item') 5. we are obliged to erase your data under provisions of generally applicable law;
							li(class='dash-type') <strong>restriction of processing of your personal data</strong> for specific period of time, if:
								span(class='term-item') 1. you contest the accuracy of your personal data,
								span(class='term-item') 2. the processing is unlawful and you oppose to erasure of your data, instead request restriction of their processing,
								span(class='term-item') 3. we no longer need your personal data but you require them to establish, exercise of defend of legal claims or
								span(class='term-item') 4. you object processing but we have to verify if our legitimate grounds for processing your personal data does not override your objection;
							li(class='dash-type') <strong>object processing your personal data</strong> if the processing is based on enforcement of legitimate interest of the data controller;
							li(class='dash-type') <strong>request transfer of the data</strong> you provided us with, if the processing is based on your consent and is carried out by automatic means (data portability);
							li(class='dash-type') <strong>lodge a complaint with an appropriate supervisory authority</strong>, which in Poland is the President of the Personal Data Protection Office.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 5. Additional Information
						p Your personal data would not be used in automatic decision-making processes and they shall not be profiled.
						p We proclaim to secure your personal data accordingly to generally applicable law and to process them solely for the purposes stated above. We declare to provide protection of your personal data and to implement appropriate technical and organizational measures to secure personal data appropriately, adequately to risks and their categories in order to ensure the proper level of security of personal data, considering risk of breaching the rights or freedoms of natural person, in particular undertakes to protect personal data against unauthorized access, unauthorized retrieval, processing in violation of applicable law and against alteration, loss, damage or destruction.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 6. Cookie Policy
						p The website #[a(href='https://mintbycheil.com/') https://mintbycheil.com] does not use any cookie technology. We want to be transparent and simple. Therefore we do not collect or gain access to any cookie files or other technologies of local storage of information of your device.



					

