block config
	include config

	include head
		title Sign Up Now - #{siteTitle}

	// Start of Body
	body

		.main-wrapper
			form(action='/signup' method='POST')
				.form-case
					label.form-label.blind(for='firstname')
					input.form-input.form-input-half(type='text' name='firstname' id='firstname')
				.form-case
					label.form-label.blind(for='surname')
					input.form-input.form-input-half(type='text' name='lastname' id='lastname')
				.form-case
					label.form-label.blind(for='email')
					input.form-input(type='email' name='email' id='email')
				input.form-input.form-btn(type='submit' value='Sign Up')
