block config
	include config

	include head
		title Sign Up Now - #{siteTitle}

	// Start of Body
	body

		.case.case-sticky-left
			.case-inner.case-inner-brand
				img(src='/assets/mint-logo-black.svg')

			nav(class='case-inner section-nav-case')
				p(class='section-nav-item') Subscribe

			nav(class='case-inner social-nav-case')
				ul(class='social-nav')
					li(class='social-icon' id='social-nav-fb')
						i(class='fab fa-facebook-f')
					li(class='social-icon' id='social-nav-tw')
						i(class='fab fa-twitter')
					li(class='social-icon' id='social-nav-li')
						i(class='fab fa-linkedin-in')
					li(class='social-icon' id='social-nav-insta')
						i(class='fab fa-instagram')
					li(class='social-icon' id='social-nav-yt')
						i(class='fab fa-youtube')
