- var sectionTitle = 'subscribe';

block config
	include config

	include head
		title Sign Up Now - #{siteTitle}

	body

		include sticky-left

		main(class='case case-main')

			h1(class='blind') MINT Digital Production on a Mass Global Scale primed with Quality. Sign Up to receive our newsletter.

			.case-inner
				.case-subscribe
					.case-subscribe-header
						h2 Our great website is still under construction...
						h2 Sign up to our newsletter to get MINT news first!
					.case-subscribe-graphic
						img(src='assets/site-building-in-progress.svg')
					.case-subscribe-form
						form(action='/signup' method='POST')
							.form-row
								.form-case.form-case-half
									label.form-label.blind(for='firstname')
									input.form-input(type='text' name='firstname' id='firstname' placeholder='First Name' required)
								.form-case.form-case-half
									label.form-label.blind(for='surname')
									input.form-input(type='text' name='lastname' id='lastname' placeholder='Surname' required)
							.form-row
								.form-case
									label.form-label.blind(for='email')
									input.form-input(type='email' name='email' id='email' placeholder='Email' required)
							.form-row
								.form-case.disclaimer
									label.form-label.blind(for='disclaimer')
									input(type='checkbox' name='disclaimer' id='disclaimer' required)
									span I have acknowledged the #[a(href='/terms-and-conditions/' target='_blank') Terms and Conditions for the provision of services by Cheil] and the #[a(href='/terms-and-conditions-newsletter/' target='_blank') Terms and Conditions of Newsletter services by Cheil], I hereby accept it.
							.form-row
								.form-case
									input.form-input.form-btn(type='submit' value='Sign Up')
					.case-subscribe-disclaimer
						p Your personal data is being processed by Cheil Germany GMBH spółka z ograniczoną odpowiedzialnością, Oddział w Polsce (eng. Limited Liability Company) with its registered seat in Warsaw (02-674) at 15 Marynarska Street, KRS number 0000313123 (hereinafter referred to as: Cheil),  e-mail:#[a(href='mailto:dataprivacy@mintbycheil.com') dataprivacy@mintbycheil.com], for the purposes of conclusion and execution of the agreement for provision of Newsletter services by Cheil and establishment, exercise or defence of legal claims.
						p You are entitled to request access to your personal data, their rectification, erasure, restriction of their processing, data portability as well as to object to their processing, you are also entitled to lodge a complaint with an appropriate supervisory authority.
						p Further notice on how Cheil processes personal data of the Subscriber shall be found in § 5 of Terms and conditions of Newsletter services by Cheil and Privacy policy of website #[a(href='/privacypolicy/') https://www.mintbycheil.com/].

