block config
	include config

	include head
		title Sign Up Now - #{siteTitle}

	body

		include sticky-left

		main(class='case case-main')

			h1(class='blind') MINT Digital Production General Terms and Conditions