- var sectionTitle = 'terms';

block config
	include config

	include head
		title General Terms and Conditions - #{siteTitle}

	body

		include sticky-left

		main(class='case case-main')

			h1(class='blind') MINT Digital Production General Terms and Conditions

			.case-inner
				.case-subscribe.terms
					.case-subscribe-header.terms
						h2 Terms &amp; Conditions for Provision of Services
						span for website #[a(href='//mintbycheil.com') https://www.mintbycheil.com]
					.case-subscribe-content-terms
						h3(class='section-title-terms') 1. General Provisions
						ol(class='terms')
							li The following Terms and conditions for provision of services via #[a(href='https://mintbycheil.com/') https://mintbycheil.com] (hereinafter referred to as: Terms and conditions) determines:
								span(class='term-item') 1.1. the rules of operation of the website Mint by Cheil, available under URL address #[a(href='//mintbycheil.com/') https://mintbycheil.com], in particular with accordance to art. 8 of the Act of 18 July, 2002 on Providing Services by Electronic Means (JL of 2020, item 344 as amended),
								span(class='term-item') 1.2. conditions for providing services by electronic means by Cheil Germany GMBH spółka z ograniczoną odpowiedzialnością, Oddział w Polsce (eng. Limited Liability Company) with its registered seat in Warsaw (02-674) at 15 Marynarska Street, entered into the register of entrepreneurs of National Court Register conducted by District Court for Capital City of Warsaw, XIII Division of the National Court Register, KRS number 0000313123 (hereinafter referred to as: Cheil), via #[a(href='//mintbycheil.com/') https://mintbycheil.com],
								span(class='term-item') 1.3. rules for use of the services provided via #[a(href='//mintbycheil.com/') https://mintbycheil.com],
								span(class='term-item') 1.4. technological requirements and conditions necessary for proper use of services,
								span(class='term-item') 1.5. conditions of processing personal data.
							li The following Terms and conditions are a regulation referred to in art. 8 of the Act of 18 July, 2002 on Providing Services by Electronic Means and is applicable to all services provided by electronic means by Cheil via #[a(href='//mintbycheil.com') https://mintbycheil.com], as referred to in art. 2 point 4 of this Act.
							li The following Terms and conditions are made available to the User in form that enables the User its downloading, retrieval and saving, in preferred place and time. User shall familiarise with the content of the following Terms and conditions prior to initiating use of the services referred to in the following Terms and conditions.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 2. Definitions
						span Terms used in the following Terms and conditions shall be understood as followed:
						ol(class='terms')
							li <strong>Cheil</strong> – provider of services; Cheil Germany GMBH spółka z ograniczoną odpowiedzialnością, Oddział w Polsce (eng. Limited Liability Company) with its registered seat in Warsaw (02-674) at 15 Marynarska Street, entered into the register of entrepreneurs of National Court Register conducted by District Court for Capital City of Warsaw, XIII Division of the National Court Register, KRS number 0000313123, with tax identification number NIP 1080005884, REGON 14155797000000, acting as a branch office in Poland;
							li <strong>User</strong> – recipient of services; a natural person, who is a party of the agreement for the provision of services, to whom Cheil is providing services in execution of the agreement concluded on the basis of acceptance of the following Terms and conditions;
							li <strong>Terms and conditions</strong> – the following Terms and conditions for provision of services via #[a(href='//mintbycheil.com/') https://mintbycheil.com], which are indeed an agreement concluded between the User and Cheil;
							li <strong>Service</strong> – described in § 3 point 1 of the following Terms and conditions service provided by Cheil to the User in execution of the agreement;
							li <strong>the Act</strong> – the Act of 18 July, 2002 on Providing Services by Electronic Means (JL of 2020, item 344 as amended);
							li <strong>GDPR</strong> – Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation).
					.case-subscribe-content-terms
						h3(class='section-title-terms') 3. General Provisions
						ol(class='terms')
							li On the basics of the following Terms and conditions, Cheil undertakes the obligation to provide the User with the Services, understood as providing access to information enclosed at the website available under URL #[a(href='//mintbycheil.com') https://mintbycheil.com], concerning the possibilities of introducing new marketing solutions in business activities.
							li The agreement with Cheil for provision of Services as described in point 1 above is concluded with the moment the User enters the website #[a(href='//mintbycheil.com') https://mintbycheil.com].
							li The agreement with Cheil for provision of Services is terminated with the moment the User leaves the website #[a(href='//mintbycheil.com') https://mintbycheil.com].
							li Concluding the agreement, the User proclaims that it is accepting the provisions of the following Terms and conditions and ensures to comply with them. Lack of acceptance of the following Terms and conditions prevents providing Services by Cheil.
							li The User has the right to use all Services provided by Cheil via the website #[a(href='//mintbycheil.com') https://mintbycheil.com] in execution of the agreement, in a scope compliant with its provisions (in compliance with the following Terms and conditions).
							li The User is entitled to use the Services under obligation not to use them for purposes contrary to generally applicable laws, provisions of concluded agreement (the following Terms and conditions) and principles of social interaction.
							li The User is obliged to use the Services in compliance with the following Terms and conditions and concluded agreement, the provisions of generally applicable laws, general rules for using Internet, and principles of social interaction and not in contrary to the purposes of creating the website #[a(href='//mintbycheil.com') https://mintbycheil.com], in particular in a manner that does not infringe the rights of third parties and rights and interest of Cheil or other entities associated in Cheil Group.
							li Cheil cannot be held responsible for the actions and the effects of the activities of the User that were performed in a way contrary to the obligations imposed on the User by the following Terms and conditions.
							li Cheil does not guarantee continuity of availability of the website #[a(href='//mintbycheil.com') https://mintbycheil.com] and cannot be held responsible for loss or damages, which resulted due to potential unavailability. Cheil cannot be held responsible for loss and damages, which resulted due to modifications introduced to the website’s content.
							li Cheil may suspend providing Services or block the User’s access to the website #[a(href='//mintbycheil.com') https://mintbycheil.com] with instant effect in case the User infringes the provisions of the agreement (the following Terms and conditions), in particular if the User:
								span(class='term-item') 10.1. infringes rights of third parties using the website or its contents,
								span(class='term-item') 10.2. infringes security rules described in the following Terms and conditions or constantly infringes other provisions of the agreement (the following Terms and conditions),
								span(class='term-item') 10.3. performs other actions, which Cheil recognize as immoral, not-compliant with generally applicable laws and/or general rules for using Internet, or contrary to the purposes of creating the website or detrimental to the good name of Cheil.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 4. Technical Requirements
						ol(class='terms')
							li Proper usage of the Services provided by electronic means by Cheil by using the website #[a(href='//mintbycheil.com') https://mintbycheil.com] is possible if hardware, software and IT system of the User complies with the following minimal technical requirements:
								span(class='term-item') 1.1. one of the following operating systems is installed and used: Windows or MacOS
								span(class='term-item') 1.2. one of the following internet browsers is used: Internet Explore, Google Chrome, Firefox, Opera or Safari,
								span(class='term-item') 1.3. Internet connection is active and working properly;
							li Additionally, Cheil some components or elements of the website may require internet browser, as referred to above, to accept cookie files, SSL protocol support or javascript support. 
							li Cheil cannot be held responsible for incorrect functioning of the website, if the hardware, software or Internet access of the User does not comply with above technical requirements. 
							li Cheil cannot be held responsible for excessive overload of the User’s internet connection, as for any inter-operator connections. It cannot be also held responsible for disturbances in website’s functioning which result from unauthorised User’s or third party’s interference. 
							li The User cannot use the Services in a manner, that may damage, block, overload or otherwise weaken Cheil’s server.
							li The User cannot attempt to gain unauthorised access to any Service, computer systems or network connections with any Cheil’s server or other Services, by burglary, hacking, password breaking or any other means. 
							li Cheil does not guarantee that the Service will be free of all errors nor that errors connected with the Service will be corrected.
							li Cheil undertakes to make any reasonable effort to support the User in case of difficulties connected with using the website, while such statement cannot be considered as Cheil’s obligation to provide technical support. In case any difficulties connected with using the website shall occur, the User may contact Cheil via e-mail: #[a(href='mailto:support@mintbycheil.com') support@mintbycheil.com] or by telephone: #[a(href='tel:+48223603020') +48 22 360 30 20].
							li In case of receiving an e-mail on difficulties mentioned above, Cheil should respond to such mail in the same form of communication no later than 14 days after receiving it.
							li If the User shall identify irregularity in website’s functioning, it is obliged to report it via e-mail: #[a(href='mailto:support@mintbycheil.com') support@mintbycheil.com] or by telephone: #[a(href='tel:+48223603020') +48 22 360 30 20]. Cheil is entitled to recognize that reported event is not an irregularity in Platform’s functioning.
							li In case of malfunction of the website or necessity to introduce modifications, improvements or to perform maintenance, Cheil reserves the right to temporally suspend provision of the Services via website.
							li Cheil undertakes to make any reasonable attempts so that maintenance interruptions in website’s functioning shall be performed at night, between 2:00 and 6:00 a.m.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 5. Personal Data Protection
						ol(class='terms')
							li Cheil is committed to ensure the safety and respect for privacy of natural persons. Cheil respects the right of a natural person to privacy and respects generally applicable law on data protection, especially GDPR.
							li Without prejudice to the abovementioned, Cheil hereby proclaims that it is the data controller of Users personal data.
							li Cheil may collect personal data of the User by ‘contact us’ form.
							li Cheil may process personal data of the User for the purposes of:
								span(class='term-item') 4.1. establishing and maintaining contact with the User via ‘contact us’ form, including providing answers to questions and requests send to Cheil via this form (Article 6(1)(f) of the GDPR), for the time necessary to execute the contact and provide the User with all information she/he required;
								span(class='term-item') 4.2. establishment, exercise or defence of legal claims (Article 6(1)(f) of the GDPR), until the limitation of claims resulting from generally applicable law.
							li The User is entitled to request access to your personal data, their rectification, erasure, restriction of their processing, data portability as well as to object to their processing. 
							li The User is entitled to lodge a complaint with an appropriate supervisory authority, which in Poland is the President of the Personal Data Protection Office.
							li Further notice on how Cheil processes personal data of the User shall be found in #[a(href='/privacy-policy/') Privacy Policy] of website #[a(href='//mintbycheil.com') https://mintbycheil.com]. The User may also contact Cheil in all matters concerning processing personal data via e-mail: #[a(href='mailto:dataprivacy@mintbycheil.com') dataprivacy@mintbycheil.com] or by telephone: #[a(href='tel:+48223603020') +48 22 360 30 20].
					.case-subscribe-content-terms
						h3(class='section-title-terms') 6. Integrity and Copyright
						ol(class='terms')
							li The website #[a(href='//mintbycheil.com') https://mintbycheil.com] itself and its individual components, trademarks and other marks and contents, are subject of protection under generally applicable law, including the provisions of the Act on Copyrights and Related Rights (LJ of 2019, item 1231 as amended), the Industrial Property Law Act (LJ of 2020, item 286 as amended) and the Act on the protection of databases (LJ of 2019, item 2134 as amended). 
							li The User may use the website #[a(href='//mintbycheil.com') https://mintbycheil.com] and its contents exclusively in order to execute the agreement. The User must not sell or share the access to the website and its content for benefits of third persons. The User does not hold the right for public distribution or commercial offering of the access to the website and its content. The User is not granted the ability to adjust, change the scope or introduce any changes within the website, both connected with the whole website and its elements.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 7. Complaints and Improper Provision of Services
						ol(class='terms')
							li Complaints concerning Services provided by using the website #[a(href='//mintbycheil.com') https://mintbycheil.com] can be submitted via e-mail: #[a(href='mailto:support@mintbycheil.com') support@mintbycheil.com] or by telephone: #[a(href='tel:+48223603020') +48 22 360 30 20]. 
							li The submission shall contain the description of the problem or the issue, that poses the grounds for the complaint. 
							li Complaints submitted by the User shall be proceeded by Cheil, who undertakes to examine the issue and the circumstances of its appearance fairly within 14 days since the submission of the complaint.
					.case-subscribe-content-terms
						h3(class='section-title-terms') 8. Final Provisions
						ol(class='terms')
							li In all matters not regulated in the following Terms and conditions, the provisions of generally applicable laws shall apply accordingly. 
							li Cheil has the right to alter the provisions of the following Terms and conditions at any time. Information concerning the modification of Terms and conditions shall be given to the User no less than 7 days prior to entering into force of the new version of Terms and conditions. 
							li Following Terms and conditions shall be effective since 1st May 2020. 







