/*************************
 00 - General Styles
*************************/

html,body,.case { height:100%;width:100%;margin:0;padding:0;-webkit-font-smoothing:antialiased; }
body {  font-size:16px;font-family:'Helvetica Neue', sans-serif; }
.case-inner { width:100%; }
.blind { display:none; }
h1 { font-size:2rem; }
h1,h2,h3,h4,h5,h6 { margin:0; }
ul { list-style-type:none;display:inline;text-align:center; }

/* End of General Styles */


/*************************
 01 - Sticky Left
*************************/

.case-sticky-left { width:8rem;height:100vh;border-right:1px solid #d3d3d3;background:transparent;position:fixed;top:0;left:0;z-index:10; }
.case-inner-brand { width:80%;height:80%;margin:0 auto; }
nav.section-nav-case, nav.social-nav-case { width:100%;position:absolute; }
.section-nav-item, .social-nav-case ul li a { color:#c0c0c0; }
nav.section-nav-case { top:10rem;text-align:center; }
.section-nav-item { text-transform:uppercase;transform:rotate(-90deg);letter-spacing:3.54px;font-weight:500;font-size:14px;color:#030301; }
.section-nav-item:before { content:'';width:0;height:6rem;position:absolute;border-left:4px solid #030301;top:-39px;left:-52px;transform:rotate(-90deg); }
nav.social-nav-case { bottom:2rem; }
.social-icon { margin-top:1rem;cursor:pointer; }
.social-icon a { transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.social-icon a:hover, .social-icon a:active { color:#030301; }
/* End of Sticky Left */


/*************************
 02 - Main
*************************/

.case-main { height:100%;width:100%;display:flex;align-items:center; }

/* End of Main */


/*************************
 03 - Subscribe Section
*************************/

.case-subscribe { margin-left:128px;text-align:center;margin-top:-5rem; }
.case-subscribe-header, .case-subscribe-graphic, .case-subscribe-form, .case-unsubscribe-footer { max-width:80%;margin:0 auto; }
.case-subscribe-header h2, .case-subscribe-header h3, .case-subscribe-graphic img, .case-subscribe-form form, .case-unsubscribe-footer span { width:50%;height:auto;margin:0 auto; }
.case-subscribe-header { padding-top:5rem; }
.form-row { display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:center; }
.form-case { display:block;width:100%;margin:0 0.3rem;display:flex;flex-direction:row;align-items:center; }
input.form-input { padding:1rem;border:1px solid #c0c0c0;width:100%;margin-bottom:0.6rem;font-size:1rem; }
.disclaimer { margin-top:0.4rem;margin-bottom:1rem; }
.disclaimer span { font-size:0.7rem;text-align:left;margin-left:0.5rem; }
input.form-input.form-btn { background-color:#48ebb7;color:#f5f5f5;font-weight:700;text-transform:uppercase;letter-spacing:3.54px;border:1px solid #48ebb7;cursor:pointer;width:50%;margin:0 auto; }
.case-subscribe-header h2.welcome-msg { margin-bottom:1.2rem; }
.case-unsubscribe { position:absolute;bottom:16px;width:100%;text-align:center; }
span.unsubscribe { font-size:0.8rem;display:block;padding-left:128px; }

/* End of Subscribe */